:host {
    display: block;
    background-color: #f0f0f0;
    padding: 20px; /* Ajoute un peu de marge intérieure */
    // height: 100vh;
  }
  h1{
    margin-left: 20px;
  }
  .contain {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
    display: inline-flex;
  
  }
  .button p{
    color: var(--Brand-Primary-CTA-text, #1E1E1E);
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  }
  
  .box {
    padding-left: 24px;
    padding-right: 24px;
    background: white;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
    border-radius: 4px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: flex;
    height: 51px;
    // margin-bottom: 20px;
    margin-left: 20px;
  }
  .section {
    border-radius: 4px;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
  }
  .button{display: flex;
    padding: 10px var(--Dimensions-Padding-12, 12px);
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: var(--Borders-radius-Radius-CTA, 4px);
    background: var(--Brand-Primary-500, #D4E22C);}
  .tab-content {
    background: white;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    padding: 0px var(--Padding-Padding-24, 24px);
    align-items: flex-start;
    gap: var(--Padding-Padding-24, 24px);
    display: flex;
    color: #3A3A3A;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  
  
  .menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 10px; /* Ajout d'un espace entre les onglets */
  }
  ul{    margin-left: -40px;
  }
  .button p{
    color: var(--Primary-CTA-text, #1E1E1E);
    /* Button txt */
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 15px;
    cursor: pointer;
  }
  .tab-content a {
    color: var(--Black, #3A3A3A);
    font-family: Figtree;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none; /* Supprime la ligne sous le texte */
    margin-top: 15px;
    cursor: pointer;
    padding-bottom: 15.3px; 
  
  }
  .tab-content.active a {
    border-bottom: 3px solid var(--Primary-600, #AAB614);  
  }

  
  body {
    font-family: 'Figtree', sans-serif;
  }
  
  .main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap:20px;
  }
  .right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    height: 100%;
  }
  .left-container {
    width: 65%;
  }
  body {
    font-family: 'Figtree', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .container {
    width: 100%;
    padding: 40px 24px;
    background: white;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
  }
  .row1 {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-left: 2px;


  }
  
  .identity-box,
  .billing-address-box {
    flex: 1;
    padding: 16px 12px;
    border-radius: 4px;
    border: 1px solid rgba(84, 78, 78, 0.20);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }
  
  .contact-box,
  .additional-info-box {
    align-self: stretch;
    padding: 16px 12px;
    border-radius: 4px;
    border: 1px solid rgba(84, 78, 78, 0.20);
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }
  
  .identity-header,
  .billing-header,
  .contact-header,
  .additional-header {
    color: #3A3A3A;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.60px;
    word-wrap: break-word;
    display: flex;
    gap: 15px;
  }
  
  .detail-label {
    opacity: 0.60;
    color: #3A3A3A;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.44px;
    word-wrap: break-word;
  }
  
  .detail-value {
    color: #544E4E;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    word-wrap: break-word;
  }
  
  .identity-details,
  .contact-details,
  .additional-details {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .billing-details {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .billing-row {
    display: flex;
    gap: 30px;
    
  }
  
  .billing-detail-group {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .identity-detail,
  .billing-detail,
  .contact-detail,
  .additional-detail {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .modify-button {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

  }
  
  .modify-text {
    color: #8E9D25;
    font-size: 16px;
    font-weight: 600;
  }
  
  .modify-button img {
    width: 15px;
    height: 16.38px;
  }
  
  .content-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .item {
    background: white;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 4px;
    display: flex;
    padding: 20px;
  }
  
  .inner-box {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .inner-box img {
    width: 120px;
    height: 96px;
    background: linear-gradient(0deg, #F8F6F5 0%, #F8F6F5 100%);
    border-radius: 4px;
  }
  
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .title {
    font-size: 16px;
    font-weight: 500;
    color: #1E1E1E;
  }
  
  .subtitle {
    font-size: 15px;
    font-weight: 500;
    color: rgba(84, 78, 78, 0.60);
  }
  
  .button {
    background: #8E9D25;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
  }
  .button-text {
    color: #8E9D25;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}.icon {
  width: 20px;
  height: 20px;
  position: relative;
  width: 10px;
  height: 8.33px;
  position: absolute;
  left: 5px;
  top: 5.83px;
  border: 1.5px solid #8E9D25;
}
.button-section {
  height: 23px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-flex;
  justify-content: flex-start;
    align-items: center;
  gap: 4px;
cursor: pointer;
}
.description {
  flex: 1 1 0;
  color: rgba(84, 78, 78, 0.70);
  font-size: 14px;
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
  word-wrap: break-word;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-top: -18px;
}

.action {
  height: 23px;
  border-radius: 4px;
  overflow: hidden;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  
}

.create-access {
  color: #8E9D25;
  font-size: 16px;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  word-wrap: break-word;
  cursor: pointer;
}
.contact-actions {
  display: flex;
  gap: 8px;
}

.action-button {
  padding: 10px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: Figtree, sans-serif;
  font-weight: 600;
}

.cancel-button {
  border: 1px solid #8E9D25;
  color: #586022;
}

.save-button {
  background: #D4E22C;
  color: #1E1E1E;
}
.notification {
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #D4E22C;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}

.notification-text {
  color: #1E1E1E;
  font-size: 16px;
  font-family: Figtree;
  font-weight: 600;
  word-wrap: break-word;
}

.notification-icon {
  width: 20px;
  height: 20px;
  position: relative;
}

.notification-border {
  width: 10px;
  height: 8.33px;
  position: absolute;
  left: 5px;
  top: 5.83px;
  border: 1.5px solid #1E1E1E;
}
.notification-text1{
 color: #586022;
  font-size: 16px;
  font-family: Figtree;
  font-weight: 600;
  word-wrap: break-word;
  cursor: pointer;
}
.notification1{
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #8E9D25;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: auto;
}
.row{
  padding: 16px;
  margin: 16px;
  border: 1px solid #ddd; /* Bordure du cadre */
  border-radius: 2px; /* Coins arrondis */
  background-color: #fff; /* Couleur de fond */
  display: flex;
    gap: 15px;
    width: 100%;
    margin-left: 2px;
    align-items: center;
}
.container1 {
  width: 100%;
  padding: 40px 24px;
  background: white;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
}
.text3{
  color: var(--Black, #3A3A3A);
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal; 
}
.ic {
  display: flex;
  width: var(--Dimensions-Padding-24, 24px);
  height: var(--Dimensions-Padding-24, 24px);
  padding: 3px 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: var(--Dimensions-Padding-24, 24px);
  background: var(--Semantic-Accent, #14A3A0);
  background-size: cover; /* Adjusts the size of the background image to cover the entire div */
  background-position: center; /* Centers the background image */
}
.icc{
  display: flex;
  width: var(--Dimensions-Padding-24, 24px);
  height: var(--Dimensions-Padding-24, 24px);
  padding: 3px 4px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: var(--Dimensions-Padding-24, 24px);
  background: var(--Semantic-Accent, #00B0F0);
  background-size: cover; /* Adjusts the size of the background image to cover the entire div */
  background-position: center;
}
.title {
  color: #3A3A3A;
  font-size: 18px;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  line-height: 21.6px;
  word-wrap: break-word;
}
.contract-number{
  color: var(--Black, #3A3A3A);
/* Body/M Bold */
font-family: Figtree;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 2.5px;
}
.contract-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  margin-left: auto;
}

.contract-text {
  color: rgba(84, 78, 78, 0.70);
  font-size: 11px;
  font-family: 'Figtree', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}
/* Container for the switch */
.switch {
  position: relative;
  display: inline-block;
  width: 38px;
  margin-right: 10px;
  height: 20px;
  margin-left: auto;
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

/* The circle inside the slider */
.slider::before {
  content: "";
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 15px;
  height: 18px;
  left: 1px;
  bottom: 1px;
  transition: transform 0.3s;
}

/* When the checkbox is checked, move the slider to the right */
input:checked + .slider {
  background-color: #AAB614;
}

/* When the checkbox is checked, move the circle inside the slider */
input:checked + .slider::before {
  transform: translateX(20px);
}
.contract-box {
  width: 100%;
  height: 100%;
  padding: 18px 2px 16px 10px;  background: white;
  border: 1px solid rgba(84, 78, 78, 0.30);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  margin-top: 15px;
}
.box1{
  width: 100%;
  height: 100%;
  padding: 18px 2px 16px 10px;  background: white;
  border: 1px solid rgba(84, 78, 78, 0.30);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}
p{
  color: var(--Fundamental-Grey-70, rgba(84, 78, 78, 0.70));
/* Body/M */
font-family: Figtree;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 19px; /* 118.75% */
margin-top: 4px;
}
.msg{
  color: var(--Fundamental-Grey-50, rgba(84, 78, 78, 0.50));
  /* Body/XS/Regular */
  font-family: Figtree;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(94 94 94);  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Assure que l'overlay est au-dessus des autres éléments */
}

.overlay-content {
  background: white;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.03);
width: 50%;
  max-height: 90%;
  overflow-y: auto;
}
.header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
  position: relative;
}
.close-icon {
  width: 24px;
  height: 24px;
  background: #D4E22C;
  border-radius: 4px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-icon::before {
  content: '';
  width: 12px;
  height: 1.5px;
  background: #1E1E1E;
  transform: rotate(45deg);
}

.close-icon::after {
  content: '';
  width: 12px;
  height: 1.5px;
  background: #1E1E1E;
  position: absolute;
  transform: rotate(-45deg);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.title1 {
  font-size: 32px;
  color: #3A3A3A;
  font-family: Figtree;
  font-weight: 600;
  text-align: center;
}

.description p {
  color: #544E4E;
  font-size: 16px;
  font-family: Figtree;
  line-height: 19px;
  text-align: center;
  margin: 0;
}

.description p:first-of-type {
  font-weight: 500;
}

.description p:last-of-type {
  font-weight: 400;
  margin-bottom: 40px;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

}

.option {
  height: 52px;
  display: flex;
  align-items: center;
  padding: 12px 18px;
  background: white;
  border-radius: 4px;
  border: 1px solid rgba(84, 78, 78, 0.30);
  gap: 8px;
  width: 50%;
  position: relative;
  transition: margin-bottom 0.3s ease; /* Ajoutez une transition pour un effet fluide */
}

.option.expanded {
  transform: translateY(100px); /* Ajustez cette valeur pour le décalage souhaité */
}
.text {
  flex: 1;
  font-size: 16px;
  color: #1E1E1E;
  font-family: Figtree;
  font-weight: 500;
  line-height: 19px;
}

.arrow-small {
  width: 24px;
  height: 24px;
  background: #4A511F;
  border-radius: 4px;
}


  .footer {
    background: #E9EE7B;
    width: 40%;
    padding: 10px 12px;
    border-radius: 4px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    gap: 4px;
    margin: auto;
    margin-top: 30px;
    display: flex;
  }
  .footer:hover{
    background: #D0D600; 
  }
.footer-text {
  color: rgba(84, 78, 78, 0.60);
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
  .dropdown-menu {
    background-color: white;
    border: 1px solid rgba(84, 78, 78, 0.4);
    border-top: none;
    border-radius: 0 0 4px 4px;
    max-height: 150px;
    overflow-y: auto;
    display: block;
    margin-top: 8px; /* Espace entre l'en-tête et le menu */
    z-index: 1000; /* Assurez-vous que le menu est au-dessus des autres éléments */
    width: 100%;
  }
  

.dropdown-header {
  padding: 12px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dropdown-header span {
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #1E1E1E;
  left: 15px;
  position: absolute; 
}

.arrow {
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIj4KPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik01LjQ2OTY3IDE1LjUzMDNDNS43NjI1NiAxNS44MjMyIDYuMjM3NDQgMTUuODIzMiA2LjUzMDMzIDE1LjUzMDNMMTIgMTAuMDYwN0wxNy40Njk3IDE1LjUzMDNDMTcuNzYyNiAxNS44MjMyIDE4LjIzNzQgMTUuODIzMiAxOC41MzAzMyAxNS41MzAzQzE4LjgyMzIgMTUuMjM3NCAxOC44MjMyIDE0Ljc2MjYgMTguNTMwMzMgMTQuNDY5N0wxMi41MzAzMyA4LjQ2OTY3QzEyLjIzNzQgOC4xNzY3OCAxMS43NjI2IDguMTc2NzggMTEuNDY5NyA4LjQ2OTY3TDUuNDY5NjcgMTQuNDY5N0M1LjE3Njc4IDE0Ljc2MjYgNS4xNzY3OCAxNS4yMzc0IDUuNDY5NjcgMTUuNTMwM1oiIGZpbGw9IiM0QTUxMUYiLz4KPC9zdmc+Cg==');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  transition: transform 0.3s;
  position: absolute;
    right: 10px;
}

.arrow.rotate {
  transform: rotate(180deg);
}


.dropdown-item {
  padding: 12px 18px;
  font-family: Figtree, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(84, 78, 78, 0.7);
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f0f0f0;

}
.option.active + .dropdown-menu {
  transform: translateY(0); /* Ajustez la valeur selon vos besoins */
  transition: transform 0.3s ease;
}


.option.expanded {
  margin-bottom: 250px;
  margin-top: -100px;
}
.validate-button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  background: var(--Brand-Primary-500, #D4E22C);
  padding: 10px 2px;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  width: 90%;
}

.validate-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
.dropdown-item.selected {
  background-color: #e0e0e0; /* Couleur de sélection pour l'élément actif */
}
.contacts-with-access .list-header {
  color: var(--Black, #3A3A3A);
  font-family: "Figtree", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.44px;
  text-transform: uppercase;
  opacity: 0.6;
}