:host {
  display: block;
  background-color: #f0f0f0;
  padding: 20px; /* Ajoute un peu de marge intérieure */
  // height: 100vh;
}
.custom-container {
  width: 30px;
  height: 100%;
  padding: 5px 3px;
  background: white;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.03);
  border-radius: 4px;
    cursor: pointer;
}
/* Bouton Télécharger l’échéancier */
.download-button {
  width: 40%;
  height: 100%;
  padding: 10px 12px;
  background: #D4E22C;
  border-radius: 4px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin: auto;
  margin-top: 30px;
  display: flex;
}
.close-icon {
  width: 24px;
  height: 24px;
  background: #D4E22C;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-icon::before {
  content: '';
  width: 12px;
  height: 1.5px;
  background: #1E1E1E;
  position: absolute;
  transform: rotate(45deg);
}

.close-icon::after {
  content: '';
  width: 12px;
  height: 1.5px;
  background: #1E1E1E;
  position: absolute;
  transform: rotate(-45deg);
}

.button-content {
  padding: 0 4px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  display: flex;
}

.button-text {
  color: #1E1E1E;
  font-size: 16px;
  font-family: Figtree, sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}
.rotated-box {
  width: 24px;
  height: 24px;
  position: relative;
  transform: rotate(180deg);
  transform-origin: 0 0;
}

.inner-box {
  width: 12px;
  height: 10px;
  position: absolute;
  left: 6px;
  top: 7px;
  border: 1.5px solid #1E1E1E;
}
.container1 {
     width: 100%;
    height: 100%;
    padding: 24px;
    background: white;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.03);
    border-radius: 4px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 24px;
  }
  .contract-number {
    color: #3a3a3a;
    font-size: 18px;
    font-family: Figtree;
    font-weight: 600;
    line-height: 21.6px;
    word-wrap: break-word;
  }
  
  .download {
    padding: 10px 12px;
    border-radius: 4px;
    overflow: hidden;
    border-radius: var(--Borders-radius-Radius-CTA, 4px);
    border: 1px solid var(--Brand-Primary-700, #8E9D25);
    justify-content: center;
    align-items: center;
    gap: 4px;
    display: flex;
  }
  
  .download-text {
    padding: 0 4px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    display: flex;
    color: #586022;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .details {
    align-self: stretch;
    padding: 16px;
    background: #fefde9;
    border-radius: 4px;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    display: inline-flex;
  }
  
  .detail-column {
    width: 288px;
    align-self: stretch;
    border-right: 1px solid #d4e22c;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
  }
  
  .label {
   color: #878686;
    font-size: 11px;
    font-family: Figtree;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.44px;
    word-wrap: break-word
  }
  
  .value {
    color: #3a3a3a;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
  }
  

  img{
    width:16;
     height:16;
   
  }
  .icon-inner {
    width: 26px;
    height: 26px;
    padding: 6px;
    background: #eeeded;
    .icon-inner {
      position: relative; /* Assurez-vous que l'élément est bien positionné */
      z-index: 10; /* Un z-index élevé pour garantir qu'il est cliquable */
      cursor: pointer; /* Ajoute un curseur pour indiquer qu'il est cliquable */
    }
    
    cursor: pointer;
  }
  
  .co-holder {
    color: #3a3a3a;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .co-holder-label {
    color: #3a3a3a;
    font-size: 15px;
    font-family: Figtree;
    font-weight: 500;
    line-height: 19.5px;
    word-wrap: break-word;
  }
  
  .address {
    padding-bottom: 8px;
    padding-right: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
  }
  
  .address-line {
    color: #3a3a3a;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .pdl-number {
    color: #3a3a3a;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .power {
    padding-bottom: 8px;
    padding-right: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
  }
  
  .power-icon {
    align-items: flex-start;
    gap: 8px;
    width: 24px;
    height: 24px;
    padding: 3px 4px;
    background: #0db58d;
    border-radius: 24px;
    justify-content: center;
    
    align-items: center;
    gap: 4px;
    display: flex;
  }
  
  .power-icon-shape {
    width: 10.93px;
    height: 13px;
    left: 2.54px;
    top: 1.5px;
    position: absolute;
    background: white;
  }
  
  .power-value {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    display: inline-flex;
    color: #3a3a3a;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .flex-column {
    flex: 1 1 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
  }
  
  .option {
    padding-bottom: 8px;
    padding-right: 16px;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
    display: inline-flex;
    color: #3a3a3a;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
  }
  


  
  .payment-mode-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
  }
  
  .header {
    display: inline-flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 16px;
  }
  
  .payment-mode {
    color: #3a3a3a;
    font-size: 22px;
    font-family: Figtree;
    font-weight: 600;
    line-height: 22px;
    word-wrap: break-word;
  }
  
  .edit-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
  }

  .edit-text {
    color: #8e9d25;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .edit-icon {
    width: 20px;
    height: 20px;
    padding: 2px 2px 1.62px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .monthly-deduction {
    opacity: 0.6;
    color: #3a3a3a;
    font-size: 11px;
    font-family: Figtree;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.44px;
    word-wrap: break-word;
  }
  
  
  .mandate-box {
    padding: 6px;
    border: 1px solid rgba(84, 78, 78, 0.5);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: -15px;
    width: 600px;
  }
  
  .mandate {
    display: flex;
    height: 42px;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
  
  .mandate-text {
    color: #3a3a3a;
    font-size: 18px;
    font-family: Figtree;
    font-weight: 600;
    line-height: 21.6px;
    word-wrap: break-word;
  }
  
  .sign-date {
    color: rgba(84, 78, 78, 0.7);
    font-size: 15px;
    font-family: Figtree;
    font-weight: 500;
    line-height: 19.5px;
    word-wrap: break-word;
  }
  
  .status-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  .update-text,
  .update-date-text {
    color: #8e9d25;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
  margin-top: -10px;
  }
  .update-section div,
.update-section img {
  display: block;
  margin-bottom: 10px; /* Adjust as needed for spacing */
}



.address-box {
  align-self: stretch;
  height: 112px;
  padding: 16px 12px;
  border: 1px solid rgba(84, 78, 78, 0.20);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  box-sizing: border-box;
}



.address-title {
  color: #3a3a3a;
  font-size: 18px;
  font-family: Figtree;
  font-weight: 600;
  line-height: 21.60px;
  word-wrap: break-word;
}

.address-details {
  align-self: stretch;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.detail-item {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
}

.label {
  opacity: 0.60;
  color: #3a3a3a;
  font-size: 11px;
  font-family: Figtree;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.value {
  color: #544e4e;
  font-size: 16px;
  font-family: Figtree;
  font-weight: 500;
  line-height: 19px;
  word-wrap: break-word;
}


.document-list {
  display: flex;
  flex-direction: row; /* Change to row for horizontal alignment */
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px; /* Space between items */
  width: 100%;
  
}

.document-item {
  height: 59px;
  padding: 12px;
  border-radius: 4px;
  border: 1px rgba(84, 78, 78, 0.40) solid;
  justify-content: space-between;
  align-items: center;
  display: flex;
  width: 100%;
}

.document-info {
  flex: 1 1 0;
  height: 35px;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: flex;
}
.text {
  flex: 1 1 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  display: flex;
}

.document-title {
  align-self: stretch;
  height: 21px;
  color: #3A3A3A;
  font-size: 16px;
  font-family: Figtree;
  font-weight: 500;
  line-height: 19px;
  word-wrap: break-word;
}

.document-date {
  width: 114px;
  color: #544E4E;
  font-size: 12px;
  font-family: Figtree;
  font-weight: 400;
  word-wrap: break-word;
}
.action-icon {
  width: 24px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.box-container {
  display: flex;
  gap: 24px;
  width: 100%;
}

.box {
  width: 304px;
  height: 201px;
  padding: 16px;
  background: url('../../../assets/images/photo\ a\ la\ une.jpg') no-repeat center center;
  background-size: cover;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.03);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  overflow: hidden;
}

.box-header {
  display: flex;
  align-items: flex-end;
  gap: 8px;
  background-color: white;
  width: 85px;
}

.box-icon {
  width: 16px;
  height: 16px;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.box-icon-inner {
  width: 12px;
  height: 9.63px;
  background: #1E1E1E;
}

.box-status {
  color: #3A3A3A;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.box-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 92.5px;
}

.box-price {
  color: #E2F133;
  font-size: 16px;
  font-weight: 600;
  word-wrap: break-word;
}

.box-details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 35px;
}

.box-service {
  color: white;
  font-size: 11px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  word-wrap: break-word;
}

.box-title {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.60px;
  word-wrap: break-word;
}

.box-badge {
  border-radius: 4px;
  display: flex;
  justify-content: right;
  align-items: center;
  margin-top: -90px;
}

.box-badge-icon {
  width: 24px;
  height: 24px;
  background: #D4E22C;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

  
.top-section {
  align-self: stretch;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  display: inline-flex;
}



.content {
  padding-left: 16px;
  padding-right: 16px;
  background: #373C17;
  border-radius: 4px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  display: inline-flex;
  position: relative; /* Position relative for close icon */
  width: 500px;
}

p {
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  display: flex;
  color: white;
  font-size: 14px;
  font-family: Figtree, sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.detail-column {
  position: relative; /* Parent de content-container */
}


.contain {
  width: 100%;
  max-width: inherit;
  height: 100%;
  display: inline-flex;
  justify-content: flex-start;
  // align-items: flex-start;
  gap: 24px;  
}

.card{
  flex: 1 1 0;
  padding: 20px;
  background: white;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.header5 {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-section5 {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  gap: 16px;
}

.title5 {
  color: #3A3A3A;
  font-size: 22px;
  font-family: Figtree, sans-serif;
  font-weight: 600;
  line-height: 22px;
  word-wrap: break-word;
}

.edit-button,
.view-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  width: fit-content;
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
}





.edit-icon img,
.view-icon img {
  width: 15px;
  height: 16.38px;
}

.details5 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail-item5 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail-title5 {
  color: #3A3A3A;
  font-size: 18px;
  font-family: Figtree, sans-serif;
  font-weight: 600;
  line-height: 21.60px;
  word-wrap: break-word;
}

.detail-subtitle5 {
  color: rgba(84, 78, 78, 0.70);
  font-size: 15px;
  font-family: Figtree, sans-serif;
  font-weight: 500;
  line-height: 19.50px;
  word-wrap: break-word;
}

.status-icon5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.status-circle5 {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background: #3A3A3A;
}

.hidden {
  display: none;
}
.payment-details5 {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detail-box5 {
  padding: 16px;
  background: #F9F9F9;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.update-info {
  display: flex;
  flex-direction: column;

}
/* Styles pour l'overlay */
.overlay {
  position: fixed; /* Permet à l'overlay de couvrir toute la page */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Arrière-plan semi-transparent */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Assure que l'overlay est au-dessus de tout le reste */
}

/* Styles pour le contenu du tableau */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 60%; /* Largeur max du tableau */
  max-height: 80%; /* Hauteur max du tableau */
  overflow-y: auto; /* Pour scroller si le tableau est trop grand */
}
.title {
  height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.title h1 {
  color: #3A3A3A;
  font-size: 32px;
  font-family: Figtree;
  font-weight: 600;
  text-align: center;
  word-wrap: break-word;
  margin-top: 5px;
}
.title p {
  color: #544E4E;
  font-size: 16px;
  font-family: Figtree;
  font-weight: 500;
  line-height: 19px;
  text-align: center;
  word-wrap: break-word;
  margin-top: -40px;
}
.table-container {
  width: 80%; /* Ajustez cette valeur selon vos besoins */
  max-width: 1200px; /* Limite la largeur maximale */
  margin: 0 auto; /* Centre le conteneur horizontalement */
  padding: 24px;
  background: white;
  box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.03);
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.table {
  width: 100%;
  background: #FAFAD1;
  border-bottom: 1px rgba(84, 78, 78, 0.50);
}
.table-header, .table-row {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  border-bottom: 1px rgba(84, 78, 78, 0.20);
}
.table-header div, .table-row div {
  display: flex;
  align-items: center;
}
.table-header div {
  font-size: 11px;
  font-family: Figtree;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.44px;
  color: rgba(84, 78, 78, 0.70);
}
.table-row {
  background: #FEFDE9;
}
.date, .amount {
  font-size: 18px;
  font-family: Figtree;
  font-weight: 600;
  color: #3A3A3A;
}
.date img {
  width: 13.33px;
  height: 13.33px;
}