:host {
    display: block;
    background-color: #f0f0f0;
    padding: 20px; /* Ajoute un peu de marge intérieure */
    // height: 100vh;
  }
  .custom-container {
    width: 30px;
    height: 100%;
    padding: 5px 3px;
    background: white;
    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.03);
    border-radius: 4px;
      cursor: pointer;
      margin-bottom: 20px;
  }
  .main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
  }
 h1{
    font-size: 36px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
    margin-top: -5px;
    margin-bottom: auto;
  }
  .right-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: white;
    height: 100%;
  }
  .left-container {
    width: 70%;
  }
 .container {
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 40px 24px;
  background: white;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  overflow: hidden;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

.box-1 {
    width: 303px;
    height: 379px;
    padding: 24px;
    background: url('../../../assets/images/photo%20a%20la%20une.jpg') center center / cover no-repeat, linear-gradient(0deg, #F5F7A9 0%, #F5F7A9 100%), radial-gradient(38.01% 32.67% at 39.91% 15.56%, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, 0.6) 100%);    box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.03);
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 8px;
}

.box-1-content {
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 180px;
}

.box-1-text {
    flex: 1 1 0;
    height: 163px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
}

.text-large {
    width: 222px;
    color: #E2F133;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
}

.text-medium {
    align-self: stretch;
    height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1px;
}

.uppercase {
  align-self: stretch;
  color: var(--White, #FFF);
  font-family: Figtree, Arial;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.44px;
  text-transform: uppercase;
}

.option-verte {
  align-self: stretch;
  color: var(--White, #FFF);
  font-family: Figtree, Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0.9px;
}

.subscribe-button {
    padding: 10px 12px;
    background: #D4E22C;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.subscribe-text {
    color: #1E1E1E;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
}

.box-2 {
    width: 303px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid rgba(84, 78, 78, 0.40);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.box-2-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}
.text-container {
    flex: 1 1 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.text-title {
    height: 21px;
    color: #3A3A3A;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 500;
    line-height: 19px;
}

.text-date {
    width: 114px;
    color: #544E4E;
    font-size: 12px;
    font-family: Figtree;
    font-weight: 400;
}

.flex-column-2 {
    flex: 1 1 0;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}

.text-group {
    align-self: stretch;
    height: 201px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
}

.option-title {
    color: #3A3A3A;
    font-size: 36px;
    font-family: Figtree;
    font-weight: 600;
    word-wrap: break-word;
}

.option-description {
    width: 621px;
    color: rgba(84, 78, 78, 0.80);
    font-size: 22px;
    font-family: Figtree;
    font-weight: 600;
    line-height: 22px;
    word-wrap: break-word;
}

.option-details {
    align-self: stretch;
    color: #544E4E;
    font-size: 18px;
    font-family: Figtree;
    font-weight: 500;
    line-height: 21.60px;
    word-wrap: break-word;
}

.bullet-point {
    align-self: stretch;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 12px;
}

.bullet-icon {
    padding: 5px 13px;
    background: #E2F133;
    border-radius: 9999px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #1E1E1E;
    font-size: 16px;
    font-family: Figtree;
    font-weight: 600;
}

.bullet-text {
    flex: 1 1 0;
    color: rgba(84, 78, 78, 0.80);
    font-size: 18px;
    font-family: Figtree;
    font-weight: 500;
    line-height: 21.60px;
}

.section {
  align-self: stretch;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  max-height: 100%; /* S'assurer que la section reste à l'intérieur du conteneur */
  overflow: auto;
  }
  
  .title {
    color: #3A3A3A;
    font-size: 36px;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .subtitle1 {
    align-self: stretch;
    color: var(--Fundamental-Grey-80, rgba(84, 78, 78, 0.80));
    /* Desktop/H3 */
    font-family: Figtree;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 22px */
    letter-spacing: -0.22px;
  }
  
  .description {
    align-self: stretch;
    color: var(--Fundamental-Grey-90, #544E4E);
    /* Desktop/H4 */
    font-family: Figtree;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    letter-spacing: -0.18px;
  }
  
  .points {
    align-self: stretch;
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .point {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
  }
  
  .circle {
    width: 24px;
    height: 24px;
    background: #E9EE7B;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4A511F;
    font-size: 11px;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.44px;
  }
  
  .point-content {
    flex: 1 1 0;
    display: grid;
    gap: 1px;
  }
  
  .point-title {
    color: #544E4E;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
  }
  
  .point-description {
    color: rgba(84, 78, 78, 0.70);
    font-size: 15px;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    line-height: 19.5px;
    word-wrap: break-word;
  }
  
  .footer-box {
    align-self: stretch;
    padding: 16px;
    background: #FAFAD1;
    border-radius: 4px;
    color: #4A511F;
    font-size: 15px;
    font-family: 'Figtree', sans-serif;
    font-weight: 500;
    line-height: 19.5px;
    word-wrap: break-word;
  }
.content-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .item {
    background: white;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 4px;
    display: flex;
    padding: 20px;
  }
  
  .inner-box {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .inner-box img {
    width: 120px;
    height: 96px;
    background: linear-gradient(0deg, #F8F6F5 0%, #F8F6F5 100%);
    border-radius: 4px;
  }
  
  .text {
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 16px;
    font-weight: 500;
    color: #1E1E1E;
  }
  
  .subtitle {
    font-size: 15px;
    font-weight: 500;
    color: rgba(84, 78, 78, 0.60);
    margin-bottom: 16px;
  }
  
  .button {
    background: #8E9D25;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
  }
  .button-text {
    color: #8E9D25;
    font-size: 16px;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    word-wrap: break-word;
}.icon {
  width: 20px;
  height: 20px;
  position: relative;
  width: 10px;
  height: 8.33px;
  position: absolute;
  left: 5px;
  top: 5.83px;
  border: 1.5px solid #8E9D25;
}
.button-section {
  height: 23px;
  border-radius: 4px;
  display: inline-flex;
  justify-content: flex-start;
    align-items: center;
  gap: 4px;
  cursor: pointer;
}
.bn{
  margin-left: auto;
}
.box-header {
    display: flex;
    gap: 8px;
    background-color: white;
    width: 85px;
  }
  
  .box-icon {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  
  .box-icon-inner {
    width: 12px;
    height: 9.63px;
    background: #1E1E1E;
  }